<div class="container">
  <div class="col-md-12 bg-secondary py-5 px-5">
    <div class="row align-items-center">
      <div class="pr-md-3 d-none d-md-block">
        <h4 class="text-primary">Search Exercises</h4>
      </div>
    </div>
    <div class="py-5 px-3">
      <form>
        <div class="form-row">
          {{! <div class="col form-group">
            <label for="from_date" class="form-label">From Date</label>
            <input
              type="date"
              name="from_date"
              class="form-control form-control-lg bg-dark text-white"
              placeholder="From Date"
            />
          </div> }}
          <div class="col form-group">
            <label for="to_date" class="form-label">To Date</label>
            <input
              type="text"
              id="searchedMuscle"
              name="muscle-group"
              class="form-control form-control-lg bg-primary text-white"
              placeholder="Enter a Muscle Group ('abs', 'biceps','quads')"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input
              type="button"
              id="gifButton"
              class="btn btn-lg btn-block btn-dark border-light savebtn"
              value="Search"
            />
          </div>
        </div>
      </form>
      <div class="col bg-warning mt-3">
        <div class="exercise-container">
          <h2>{EXERCISE NAME}</h2>

        </div>
      </div>
    </div>
  </div>
</div>
{{! jquery }}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
></script>

{{! javascript DOM  }}
<script src="/javascript/giphy.js"></script>