<div class="container">
    <div>
        <div class="logo">
            <img src="https://www.adaptivewfs.com/wp-content/uploads/2020/07/logo-placeholder-image.png" alt="Logo"
                width="100" height="100">
        </div>
        <div class="username">
            <h2>Welcome User</h2>
        </div>
        <div class=" d-flex flex-row userphoto">
            <div>
                <img class="avatar avatar-128 bg-light rounded-circle text-white p-2 mx-5"
                    src="https://www.w3schools.com/howto/img_avatar.png">
            </div>
            <div class="p-2 border border-white">
                <form>
                    <div>
                        <label for="goalsForToday" class="form-label">Goals For Today</label>
                        <textarea class="form-control mb-3" id="goalsForToday" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="p-2 border border-white userinput">
            <form>
                <label class="form-label">Chest, Shoulders, Triceps</label>
                <input type="text" id="input1">
                <input type="text" id="input2">
                <span class="fa fa-plus add"></span>
                <span class="fa fa-minus remove"></span>
                <div id="new_input"></div>
                <input type="hidden" value="1" id="total_input1">
                <input type="hidden" value="1" id="total_input2">
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
        <div> <button type="button" class="btn btn-primary">Previous Workouts</button></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/javascript/add-fields.js"></script>