<div class="container">
  <div class="row align-self-center">
    <div class="col-md-3"></div>
    <div class="col-md-5 col-md-offset-3 bg-secondary py-5 px-5">
      <div class="row align-items-center">
        <div class="pr-md-3 d-none d-md-block">
          <h4 class="text-primary">Register</h4>
        </div>
      </div>
      <div class="py-5 px-3">
        <form>
          <div class="form-row">
            <div class="col form-group">
              <label for="firstname" class="form-label">First Name</label>
              <input
                type="text"
                name="firstname"
                class="form-control form-control-lg bg-dark text-white"
                placeholder="First Name"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="lastname" class="form-label">Last Name</label>
              <input
                type="text"
                name="lastname"
                class="form-control form-control-lg bg-dark text-white"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                name="email"
                class="form-control form-control-lg bg-dark text-white"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="age" class="form-label">Age</label>
              <input
                type="text"
                name="age"
                class="form-control form-control-lg bg-dark text-white"
                placeholder="Age"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="weight" class="form-label">Weight</label>
              <input
                type="text"
                name="weight"
                class="form-control form-control-lg bg-dark text-white"
                placeholder="Weight"
              />
            </div>
            <div class="col-form-group">
              <label for="weight" class="form-label">unit</label>
              <select
                class="form-control form-control-lg bg-dark text-white"
                aria-label="select weight unit"
              >
                <option value="KG">KG</option>
                <option value="Pounds">Pounds</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="height" class="form-label">Height</label>
              <input
                type="text"
                name="height"
                class="form-control form-control-lg bg-dark text-white"
                placeholder="Height"
              />
            </div>
            <div class="col-form-group">
              <label for="height" class="form-label">unit</label>
              <select
                class="form-control form-control-lg bg-dark text-white"
                aria-label="select height unit"
              >
                <option value="Feet">Feet</option>
                <option value="CM">CM</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
             <a class="btn btn-lg btn-block btn-dark border-light savebtn"
                href="/login"
              >Register</a>
            </div>
          </div>
        </form>
         <p class="mt-5 text-white">Have an account already? <a href="/login">Login</a></p>
      </div>
    </div>
  </div>
</div>